* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #f5f5f5; */
    text-align: center;
    /* background-color: ; */
}

.scroll-aware {
    /* Initial styles */
    position: relative;
    top: 200px;
    transition: position 0.2s ease-in-out, top 0.2s ease-in-out;
  }

  .sticky {
    position: fixed !important; /* Use !important for higher specificity */
    top: 100px;
    /* left: 0; */
    width: 100%; /* Adjust as needed */
    z-index: 10;
    /* Add any other sticky styles */
    background-color: #008080; /* Example */
  }

  .content {
    margin-top: 10rem;
    /* Adjust this value to create space for the sticky header */
    padding: 20px;
    /* Add padding or other styles as needed */
  }




.header_title {
    position: fixed !important;
    /* Use !important for higher specificity */
    top: 30em;
    left: 0;
    width: 100%;
    z-index: 10;
    justify-content: center;
    text-decoration: underline 4px;
    font-size: 8rem;
    background-color: #008080;
    /* margin-bottom: 20px; */
    /* animation: move_top_title 1s; */
    transition: position 0.2s ease-in-out, top 0.2s ease-in-out;

}

.title {


    position: fixed !important;
    /* Use !important for higher specificity */
    top: 30em;
    left: 0;
    width: 100%;
    z-index: 10;
    justify-content: center;
    text-decoration: underline 4px;
    font-size: 8rem;
    background-color: #008080;
    /* margin-bottom: 20px; */
    /* animation: move_top_title 1s; */
    transition: position 0.2s ease-in-out, top 0.2s ease-in-out;
}

/* .header_title {
    position: sticky;

    margin-top: 3rem;
    font-size: 8vw;
    background-color: #008080;
} */

.shrink {
    position: fixed;
    font-size: 3rem;
    float: left;
    /* background-color: dodgerblue; */
    transition: 2s;
    transform: translate(0, 0.5%);
    opacity: 0;
}

.scrolled {
    position: fixed;
    font-size: 3rem;
    /* float: left; */
    /* background-color: dodgerblue; */
    transition: 2s;
    /* transform: translate(0, 2%); */
    opacity: 0;
}

.hero_picture {
    /* position: relative; */
    /* display: block; */
    /* margin: 0 auto; */
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.objetivos {
    position: relative;
    align-content: normal;
}

.objetivos h2 {
    display: flex;
    justify-content: center;
    margin-top: 2em 0 2em 0;
    font-size: 2.5rem;
}

.objetivos img {
    position: relative;
    border-radius: 10px;
    float: left;
    width: 50%;
    margin: 15px 15px 10px 20px;
}

.objetivos p {
    display: block;
    position: relative;
    margin: 10px;

}

.container_description {
    /* position: relative; */
    margin: 3rem;
    align-items: left;
}

.benefits-list {
    list-style-type: disc;
    /* Or 'circle', 'square' */
    padding-left: 20px;
    line-height: 1.6;
}

.benefits-list li {
    margin-bottom: 10px;
}

/* Example responsive design - Stack sidebar below main content on smaller screens */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        /* Stack vertically */
    }

    .sidebar {
        width: 100%;
        /* Full width on smaller screens */
    }
}



.kine_list_use {
    margin-left: 40px;
    text-align: left;
    list-style: circle;
    margin-top: 20px;
}








.back_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background: #333;
    color: #fff;
    border-radius: 10%;
    cursor: pointer;
}

.back_to_top:hover {
    background: #008080;
    color: #fff;
    border: 1px solid #333;
    padding: 2xp;
    box-shadow: #008080 0px 10px 20px;
}

@media screen and (min-width: 601px) {
    body {
        font-size: 4.5vh;
        /* margin-top: 3rem; */

    }

    .objetivos {
        margin-top: 2rem;
    }



    .objetivos h2 {
        /* display: flex; */
        text-align: center;
        /* align-items: left; */
        margin-top: 2em;
    }

    .objetivos p {
        text-align: left;
        /* margin-top: 3rem; */
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .objetivos {
        /* margin-bottom: 40px; */
        text-align: center;
    }

    .objetivos h2 {
        text-align: center;
    }

    .objetivos p {
        text-align: left;
    }

    .container_description {
        position: relative;
        box-sizing: content-box;
    }
}